**Core Data Structures in Pandas** :
Pandas is built on two main data structures:
1. Series → One-dimensional (like a single column in Excel)
2. DataFrame → Two-dimensional (like a full spreadsheet or SQL table)

**1.Series — 1D Labeled Array** - A Series is like a list with labels (index).

In [3]:
import pandas as pd

In [7]:
s = pd.Series([10,20,30,40,50])
print(s)

0    10
1    20
2    30
3    40
4    50
dtype: int64

WE can also define the custom index, lets see with exmaples.

In [5]:
'''Lets create the variable which stores the marks of the students
with respect to their names which is going to be the index.'''
marks = pd.Series([85,95,92, 91, 90], index=["Harry", "Ron", "Tony", "Bruce", "Clark"])
print(marks)

Harry    85
Ron      95
Tony     92
Bruce    91
Clark    90
dtype: int64

**2. DataFrame — 2D Labeled Table**- A DataFrame is like a dictionary of Series — multiple columns with labels

In [10]:
data = {
"name": ["Alice", "Bob", "Charlie"],
"age": [25, 30, 35],
"city": ["Delhi", "Mumbai", "Bangalore"]
}
df = pd.DataFrame(data)
print(df)
print(df.index)
print(df.columns)

      name  age       city
0    Alice   25      Delhi
1      Bob   30     Mumbai
2  Charlie   35  Bangalore
RangeIndex(start=0, stop=3, step=1)
Index(['name', 'age', 'city'], dtype='object')