**Data Loading**

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("MCU Movies Data.csv")
df

,Film,Actor(s),Year,Genre,Box Office Collection,IMDb Rating
0,Avengers: Endgame,"Robert Downey Jr., Chris Evans",2019,Action/Sci-Fi,$2.799B,8.4
1,Avengers: Infinity War,"Robert Downey Jr., Chris Hemsworth",2018,Action/Sci-Fi,$2.048B,8.4
2,Spider-Man: No Way Home,"Tom Holland, Zendaya",2021,Action/Fantasy,$1.921B,8.2
3,The Avengers,"Robert Downey Jr., Chris Evans",2012,Action/Sci-Fi,$1.519B,8.0
4,Avengers: Age of Ultron,"Robert Downey Jr., Chris Hemsworth",2015,Action/Sci-Fi,$1.402B,7.3
5,Black Panther,"Chadwick Boseman, Michael B. Jordan",2018,Action/Adventure,$1.346B,7.3
6,Captain America: Civil War,"Chris Evans, Robert Downey Jr.",2016,Action/Sci-Fi,$1.153B,7.8
7,Spider-Man: Far From Home,"Tom Holland, Jake Gyllenhaal",2019,Action/Fantasy,$1.132B,7.4
8,Captain Marvel,"Brie Larson, Samuel L. Jackson",2019,Action/Sci-Fi,$1.128B,6.8
9,Iron Man 3,"Robert Downey Jr., Gwyneth Paltrow",2013,Action/Sci-Fi,$1.215B,7.1
10,Doctor Strange in the Multiverse…,"Benedict Cumberbatch, Elizabeth Olsen",2022,Action/Fantasy,$955M,6.9
11,Guardians of the Galaxy Vol. 2,"Chris Pratt, Zoe Saldana",2017,Action/Sci-Fi,$863M,7.6
12,Thor: Ragnarok,"Chris Hemsworth, Tom Hiddleston",2017,Action/Fantasy,$854M,7.9
13,Guardians of the Galaxy,"Chris Pratt, Zoe Saldana",2014,Action/Sci-Fi,$773M,8.0
14,Thor: Love and Thunder,"Chris Hemsworth, Natalie Portman",2022,Action/Fantasy,$760M,6.2
15,Doctor Strange,"Benedict Cumberbatch, Chiwetel Ejiofor",2016,Action/Fantasy,$677M,7.5
16,Ant-Man and the Wasp,"Paul Rudd, Evangeline Lilly",2018,Action/Sci-Fi,$623M,7.0
17,Ant-Man,"Paul Rudd, Michael Douglas",2015,Action/Sci-Fi,$519M,7.3
18,Shang-Chi and the Legend of Ten Rings,"Simu Liu, Awkwafina",2021,Action/Fantasy,$432M,7.4
19,Eternals,"Gemma Chan, Richard Madden",2021,Action/Fantasy,$402M,6.3

**1. Selecting Rows and Column**

**i. Selecting Columns**

In [8]:
print(df['Actor(s)']) # Access Actors rows, Single column (as Series)
print(type(df['Actor(s)']))    # Checking the type which is ofcourse "Series"

0             Robert Downey Jr., Chris Evans
1         Robert Downey Jr., Chris Hemsworth
2                       Tom Holland, Zendaya
3             Robert Downey Jr., Chris Evans
4         Robert Downey Jr., Chris Hemsworth
5        Chadwick Boseman, Michael B. Jordan
6             Chris Evans, Robert Downey Jr.
7               Tom Holland, Jake Gyllenhaal
8             Brie Larson, Samuel L. Jackson
9         Robert Downey Jr., Gwyneth Paltrow
10     Benedict Cumberbatch, Elizabeth Olsen
11                  Chris Pratt, Zoe Saldana
12           Chris Hemsworth, Tom Hiddleston
13                  Chris Pratt, Zoe Saldana
14          Chris Hemsworth, Natalie Portman
15    Benedict Cumberbatch, Chiwetel Ejiofor
16               Paul Rudd, Evangeline Lilly
17                Paul Rudd, Michael Douglas
18                       Simu Liu, Awkwafina
19                Gemma Chan, Richard Madden
Name: Actor(s), dtype: object
<class 'pandas.core.series.Series'>

In [10]:
df['Actor(s)'][3]    #Accessing Actors name through index

'Robert Downey Jr., Chris Evans'

In [13]:
df[['Actor(s)', 'IMDb Rating']]     #Accessing Actors column and IMDb colums as Data Frame (Multiple Column)

                                  Actor(s)  IMDb Rating
0           Robert Downey Jr., Chris Evans          8.4
1       Robert Downey Jr., Chris Hemsworth          8.4
2                     Tom Holland, Zendaya          8.2
3           Robert Downey Jr., Chris Evans          8.0
4       Robert Downey Jr., Chris Hemsworth          7.3
5      Chadwick Boseman, Michael B. Jordan          7.3
6           Chris Evans, Robert Downey Jr.          7.8
7             Tom Holland, Jake Gyllenhaal          7.4
8           Brie Larson, Samuel L. Jackson          6.8
9       Robert Downey Jr., Gwyneth Paltrow          7.1
10   Benedict Cumberbatch, Elizabeth Olsen          6.9
11                Chris Pratt, Zoe Saldana          7.6
12         Chris Hemsworth, Tom Hiddleston          7.9
13                Chris Pratt, Zoe Saldana          8.0
14        Chris Hemsworth, Natalie Portman          6.2
15  Benedict Cumberbatch, Chiwetel Ejiofor          7.5
16             Paul Rudd, Evangeline Lilly          7.0
17              Paul Rudd, Michael Douglas          7.3
18                     Simu Liu, Awkwafina          7.4
19              Gemma Chan, Richard Madden          6.3

**2.Selecting Rows by Index**

**i.Use .loc[] (label-based)** :- Using loc[] when the rows have specific name like "a,b,c,d" so we can access the
rows like df.loc['a','Film']  # Avengers: Endgame. But here we have indexes so we will use index for now.

In [25]:
df.loc[0]      # First row (by label)

Film                                  Avengers: Endgame
Actor(s)                 Robert Downey Jr., Chris Evans
Year                                               2019
Genre                                     Action/Sci-Fi
Box Office Collection                           $2.799B
IMDb Rating                                         8.4
Name: 0, dtype: object

**ii Use .iloc[] (position-based)**: We can access rows and column through their indexes irrespective of their labels

In [27]:
df.iloc[0]

Film                                  Avengers: Endgame
Actor(s)                 Robert Downey Jr., Chris Evans
Year                                               2019
Genre                                     Action/Sci-Fi
Box Office Collection                           $2.799B
IMDb Rating                                         8.4
Name: 0, dtype: object

**iii. Select Specific Rows and Columns**

In [29]:
df.loc[0, 'Actor(s)']

'Robert Downey Jr., Chris Evans'

In [31]:
df.iloc[0,1]

'Robert Downey Jr., Chris Evans'

**iv. Slicing**

In [36]:
df.loc[0:2, ['Film', 'Actor(s)']]     # Here the "2" is included because it is sliced according to labels (.loc)

                      Film                            Actor(s)
0        Avengers: Endgame      Robert Downey Jr., Chris Evans
1   Avengers: Infinity War  Robert Downey Jr., Chris Hemsworth
2  Spider-Man: No Way Home                Tom Holland, Zendaya

In [37]:
df.iloc[0:2, 0:2]

                     Film                            Actor(s)
0       Avengers: Endgame      Robert Downey Jr., Chris Evans
1  Avengers: Infinity War  Robert Downey Jr., Chris Hemsworth

**v. Fast Access .at and .iat** : These are optimized for single element access. Same logic as **".loc[]"** and **.iloc[]**

In [50]:
df.at[0, 'Year']

np.int64(2019)

In [49]:
df.iat[0, 2]

np.int64(2019)

**2. Filtering with Conditions**

**i. Simple Conditions.**

In [60]:
df[df['IMDb Rating'] > 7]

,Film,Actor(s),Year,Genre,Box Office Collection,IMDb Rating
0,Avengers: Endgame,"Robert Downey Jr., Chris Evans",2019,Action/Sci-Fi,$2.799B,8.4
1,Avengers: Infinity War,"Robert Downey Jr., Chris Hemsworth",2018,Action/Sci-Fi,$2.048B,8.4
2,Spider-Man: No Way Home,"Tom Holland, Zendaya",2021,Action/Fantasy,$1.921B,8.2
3,The Avengers,"Robert Downey Jr., Chris Evans",2012,Action/Sci-Fi,$1.519B,8.0
4,Avengers: Age of Ultron,"Robert Downey Jr., Chris Hemsworth",2015,Action/Sci-Fi,$1.402B,7.3
5,Black Panther,"Chadwick Boseman, Michael B. Jordan",2018,Action/Adventure,$1.346B,7.3
6,Captain America: Civil War,"Chris Evans, Robert Downey Jr.",2016,Action/Sci-Fi,$1.153B,7.8
7,Spider-Man: Far From Home,"Tom Holland, Jake Gyllenhaal",2019,Action/Fantasy,$1.132B,7.4
9,Iron Man 3,"Robert Downey Jr., Gwyneth Paltrow",2013,Action/Sci-Fi,$1.215B,7.1
11,Guardians of the Galaxy Vol. 2,"Chris Pratt, Zoe Saldana",2017,Action/Sci-Fi,$863M,7.6
12,Thor: Ragnarok,"Chris Hemsworth, Tom Hiddleston",2017,Action/Fantasy,$854M,7.9
13,Guardians of the Galaxy,"Chris Pratt, Zoe Saldana",2014,Action/Sci-Fi,$773M,8.0
15,Doctor Strange,"Benedict Cumberbatch, Chiwetel Ejiofor",2016,Action/Fantasy,$677M,7.5
17,Ant-Man,"Paul Rudd, Michael Douglas",2015,Action/Sci-Fi,$519M,7.3
18,Shang-Chi and the Legend of Ten Rings,"Simu Liu, Awkwafina",2021,Action/Fantasy,$432M,7.4

In [64]:
df[df['Year'] > 2020]

,Film,Actor(s),Year,Genre,Box Office Collection,IMDb Rating
2,Spider-Man: No Way Home,"Tom Holland, Zendaya",2021,Action/Fantasy,$1.921B,8.2
10,Doctor Strange in the Multiverse…,"Benedict Cumberbatch, Elizabeth Olsen",2022,Action/Fantasy,$955M,6.9
14,Thor: Love and Thunder,"Chris Hemsworth, Natalie Portman",2022,Action/Fantasy,$760M,6.2
18,Shang-Chi and the Legend of Ten Rings,"Simu Liu, Awkwafina",2021,Action/Fantasy,$432M,7.4
19,Eternals,"Gemma Chan, Richard Madden",2021,Action/Fantasy,$402M,6.3

In [71]:
df[df['Box Office Collection'] > "$760M"]

,Film,Actor(s),Year,Genre,Box Office Collection,IMDb Rating
10,Doctor Strange in the Multiverse…,"Benedict Cumberbatch, Elizabeth Olsen",2022,Action/Fantasy,$955M,6.9
11,Guardians of the Galaxy Vol. 2,"Chris Pratt, Zoe Saldana",2017,Action/Sci-Fi,$863M,7.6
12,Thor: Ragnarok,"Chris Hemsworth, Tom Hiddleston",2017,Action/Fantasy,$854M,7.9
13,Guardians of the Galaxy,"Chris Pratt, Zoe Saldana",2014,Action/Sci-Fi,$773M,8.0

**ii. Multiple Conditions**

In [74]:
df[df['IMDb Rating'] > 8]['Actor(s)']

0        Robert Downey Jr., Chris Evans
1    Robert Downey Jr., Chris Hemsworth
2                  Tom Holland, Zendaya
Name: Actor(s), dtype: object

In [83]:
df[(df['IMDb Rating'] > 7) | (df['Year'] > 2018)]

,Film,Actor(s),Year,Genre,Box Office Collection,IMDb Rating
0,Avengers: Endgame,"Robert Downey Jr., Chris Evans",2019,Action/Sci-Fi,$2.799B,8.4
1,Avengers: Infinity War,"Robert Downey Jr., Chris Hemsworth",2018,Action/Sci-Fi,$2.048B,8.4
2,Spider-Man: No Way Home,"Tom Holland, Zendaya",2021,Action/Fantasy,$1.921B,8.2
3,The Avengers,"Robert Downey Jr., Chris Evans",2012,Action/Sci-Fi,$1.519B,8.0
4,Avengers: Age of Ultron,"Robert Downey Jr., Chris Hemsworth",2015,Action/Sci-Fi,$1.402B,7.3
5,Black Panther,"Chadwick Boseman, Michael B. Jordan",2018,Action/Adventure,$1.346B,7.3
6,Captain America: Civil War,"Chris Evans, Robert Downey Jr.",2016,Action/Sci-Fi,$1.153B,7.8
7,Spider-Man: Far From Home,"Tom Holland, Jake Gyllenhaal",2019,Action/Fantasy,$1.132B,7.4
8,Captain Marvel,"Brie Larson, Samuel L. Jackson",2019,Action/Sci-Fi,$1.128B,6.8
9,Iron Man 3,"Robert Downey Jr., Gwyneth Paltrow",2013,Action/Sci-Fi,$1.215B,7.1
10,Doctor Strange in the Multiverse…,"Benedict Cumberbatch, Elizabeth Olsen",2022,Action/Fantasy,$955M,6.9
11,Guardians of the Galaxy Vol. 2,"Chris Pratt, Zoe Saldana",2017,Action/Sci-Fi,$863M,7.6
12,Thor: Ragnarok,"Chris Hemsworth, Tom Hiddleston",2017,Action/Fantasy,$854M,7.9
13,Guardians of the Galaxy,"Chris Pratt, Zoe Saldana",2014,Action/Sci-Fi,$773M,8.0
14,Thor: Love and Thunder,"Chris Hemsworth, Natalie Portman",2022,Action/Fantasy,$760M,6.2
15,Doctor Strange,"Benedict Cumberbatch, Chiwetel Ejiofor",2016,Action/Fantasy,$677M,7.5
17,Ant-Man,"Paul Rudd, Michael Douglas",2015,Action/Sci-Fi,$519M,7.3
18,Shang-Chi and the Legend of Ten Rings,"Simu Liu, Awkwafina",2021,Action/Fantasy,$432M,7.4
19,Eternals,"Gemma Chan, Richard Madden",2021,Action/Fantasy,$402M,6.3

**3. Querying with .query()** - The .query() method in pandas lets you filter DataFrame rows using a string
expression — it’s a more readable and often more concise alternative to using
boolean indexing.
This is a cleaner, SQL-like way to filter:

In [88]:
df.query("`IMDb Rating` > 7 and Year > 2020")

,Film,Actor(s),Year,Genre,Box Office Collection,IMDb Rating
2,Spider-Man: No Way Home,"Tom Holland, Zendaya",2021,Action/Fantasy,$1.921B,8.2
18,Shang-Chi and the Legend of Ten Rings,"Simu Liu, Awkwafina",2021,Action/Fantasy,$432M,7.4

**i. Dynamic Column Names**

In [91]:
col = "Year"
df.query(f"{col} > 2018")

,Film,Actor(s),Year,Genre,Box Office Collection,IMDb Rating
0,Avengers: Endgame,"Robert Downey Jr., Chris Evans",2019,Action/Sci-Fi,$2.799B,8.4
2,Spider-Man: No Way Home,"Tom Holland, Zendaya",2021,Action/Fantasy,$1.921B,8.2
7,Spider-Man: Far From Home,"Tom Holland, Jake Gyllenhaal",2019,Action/Fantasy,$1.132B,7.4
8,Captain Marvel,"Brie Larson, Samuel L. Jackson",2019,Action/Sci-Fi,$1.128B,6.8
10,Doctor Strange in the Multiverse…,"Benedict Cumberbatch, Elizabeth Olsen",2022,Action/Fantasy,$955M,6.9
14,Thor: Love and Thunder,"Chris Hemsworth, Natalie Portman",2022,Action/Fantasy,$760M,6.2
18,Shang-Chi and the Legend of Ten Rings,"Simu Liu, Awkwafina",2021,Action/Fantasy,$432M,7.4
19,Eternals,"Gemma Chan, Richard Madden",2021,Action/Fantasy,$402M,6.3